.OuterContainer .howIDoSection {
  color: white;
  padding-top: 18rem;
  position: relative;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  height: auto;
}

.OuterContainer .howIDoSection h1 {
  color: rgba(255, 255, 255, 0.16);
  font-size: 25.4rem;
  font-weight: 900;
  white-space: nowrap;
  z-index: 1;
  margin-left: -180%;
}

.howIDoSection article div p {
  font-size: 3.2rem;
  font-weight: 300;
  margin: 5% 0;
  margin-top: 0;
}

.howIDoSection article div {
  width: 54%;
}

.howIDoSection article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 4rem 0;
}

/* ########### Design process css ########### */
.feedback-content {
  font-size: 2.4rem;
  font-weight: 300;
}

.feedback-heading {
  font-size: 4.8rem;
  font-weight: 700;
}

.feedbackContainer {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58vw;
  margin: 0 auto;
}

.serialNo {
  width: 7%;
  font-size: 60rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 14%);
  position: absolute;
  left: -22%;
}

.designProcess-description {
  color: white;
  position: relative;
  width: 45%;
}

.designProcess-video {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: max-content;
}

.video-react-control-bar {
  display: none;
}

.video-react-control-text {
  display: none;
}

@media screen and (max-width: 1300px) {
  .designProcessContainer {
    width: 80vw;
  }
}

@media screen and (max-width: 900px) {
  .designProcessContainer {
    flex-direction: column;
    width: 90vw;
    font-weight: 300;
    height: auto;
  }
  .OuterContainer {
    margin: 10rem 0;
  }

  .designProcess-description {
    width: 100%;
    order: 2;
  }
  .designProcess-description .designProcess-content {
    width: 100%;
    font-size: 2rem;
  }

  .designProcess-video {
    width: 100%;
    order: 1;
  }
  .serialNo {
    position: relative;
    left: 0%;
    width: 100%;
    font-size: 18rem;
  }
}

@media screen and (max-width: 768px) {
  .howIDoSection article div p {
    font-size: 2.4rem;
    font-weight: 300;
  }
  .howIDoSection article div {
    width: 80%;
  }

  .OuterContainer.howIDoSection h1 {
    font-size: 8rem;
    margin-left: -200rem;
  }
}

@media screen and (max-width: 700px) {
  .serialNo {
    font-size: 18rem;
  }

  .feedback-heading {
    font-size: 3.2rem;
  }
}
