.whatIDoSection h1 {
  color: #454545;
  position: absolute;
  top: 0;
  left: -35%;
  font-size: 25.4rem;
  font-weight: 900;
  white-space: nowrap;
  z-index: 1;
}

.whatIDoSection article p {
  font-size: 3.2rem;
  font-weight: 300;
}

.whatIDoSection {
  color: white;
  padding-top: 28rem;
  padding-bottom: 12dvb;
  position: relative;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

.whatIDoSection article div {
  width: 54%;
}

.whatIDoSection article div p em {
  color: #454545;
  font-size: 3.2rem;
  font-weight: 800;
}

.whatIDoSection article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 4rem 0;
}

.buttonContainer {
  position: relative;
  padding-right: 20rem;

  margin: 0 auto;
  width: 85%;
}

@media screen and (max-width: 768px) {
  .whatIDoSection article p {
    font-size: 2.4rem;
    font-weight: 300;
  }
  .whatIDoSection article div {
    width: 80%;
  }

  .whatIDoSection h1 {
    font-size: 8rem;
    left: -80rem;
  }
  .whatIDoSection {
    padding-top: 10rem !important;
  }
}
